{% extends "profiles/base.html" %}

    {% block content %}

    <!--Roster drop down displays-->
    <div class="container-fluid">

        <center><h1>Program Rosters</h1></center>

        <h3>Elementary School Division</h3>

        <a href="#7uDrop" class="list-group-item list-group-item" data-toggle="collapse"><b>7u/1st Grade Team</b></a>
        <div class="collapse" id="7uDrop">
            <table class="table table-hover">
                {% if team7u %}
                <tbody>
                <tr>
                    {% for instance in team7u %}
                    <td>{{ instance.number}}</td>
                    <td>{{ instance }}</td>
                    <td>{{ instance.team }}</td>
                </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>

        <a href="#8uDrop" class="list-group-item list-group-item" data-toggle="collapse"><b>8u/2nd Grade Team</b></a>
        <div class="collapse" id="8uDrop">
            <table class="table table-hover">
                {% if team8u %}
                <tbody>
                <tr>
                    {% for instance in team8u %}
                    <td>{{ instance.number}}</td>
                    <td>{{ instance }}</td>
                    <td>{{ instance.team }}</td>
                </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>

        <a href="#9uDrop" class="list-group-item list-group-item" data-toggle="collapse"><b>9u/3rd Grade Team</b></a>
        <div class="collapse" id="9uDrop">
            <table class="table table-hover">
                {% if team9u %}
                <tbody>
                <tr>
                    {% for instance in team9u %}
                    <td>{{ instance.number}}</td>
                    <td>{{ instance }}</td>
                    <td>{{ instance.team }}</td>
                </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>

        <a href="#10uDrop" class="list-group-item list-group-item" data-toggle="collapse"><b>10u/4th Grade Team</b></a>
        <div class="collapse" id="10uDrop">
            <table class="table table-hover">
                {% if team10u %}
                <tbody>
                <tr>
                    {% for instance in team10u %}
                    <td>{{ instance.number}}</td>
                    <td>{{ instance }}</td>
                    <td>{{ instance.team }}</td>
                </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>

        <a href="#11uDrop" class="list-group-item list-group-item" data-toggle="collapse"><b>11u/5th Grade Team</b></a>
        <div class="collapse" id="11uDrop">
            <table class="table table-hover">
                {% if team11u %}
                <tbody>
                <tr>
                    {% for instance in team11u %}
                    <td>{{ instance.number}}</td>
                    <td>{{ instance }}</td>
                    <td>{{ instance.team }}</td>
                </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>

        <h3>Middle School Division</h3>

        <a href="#12uDrop" class="list-group-item list-group-item" data-toggle="collapse"><b>12u/6th Grade Team</b></a>
        <div class="collapse" id="12uDrop">
            <table class="table table-hover">
                {% if team12u %}
                <tbody>
                <tr>
                    {% for instance in team12u %}
                    <td>{{ instance.number}}</td>
                    <td>{{ instance }}</td>
                    <td>{{ instance.team }}</td>
                </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>

        <a href="#13uDrop" class="list-group-item list-group-item" data-toggle="collapse"><b>13u/7th Grade Team</b></a>
        <div class="collapse" id="13uDrop">
            <table class="table table-hover">
                {% if team13u %}
                <tbody>
                <tr>
                    {% for instance in team13u %}
                    <td>{{ instance.number}}</td>
                    <td>{{ instance }}</td>
                    <td>{{ instance.team }}</td>
                </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>

        <a href="#14uDrop" class="list-group-item list-group-item" data-toggle="collapse"><b>14u/8th Grade Team</b></a>
        <div class="collapse" id="14uDrop">
            <table class="table table-hover">
                {% if team14u %}
                <tbody>
                <tr>
                    {% for instance in team14u %}
                    <td>{{ instance.number}}</td>
                    <td>{{ instance }}</td>
                    <td>{{ instance.team }}</td>
                </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>

        <h3>High School Division</h3>

        <a href="#15uDrop" class="list-group-item list-group-item" data-toggle="collapse"><b>15u/9th Grade Team</b></a>
        <div class="collapse" id="15uDrop">
            <table class="table table-hover">
                {% if team15u %}
                <tbody>
                <tr>
                    {% for instance in team15u %}
                    <td>{{ instance.number}}</td>
                    <td>{{ instance }}</td>
                    <td>{{ instance.team }}</td>
                </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>

        <a href="#16uDrop" class="list-group-item list-group-item" data-toggle="collapse"><b>16u/10th Grade Team</b></a>
        <div class="collapse" id="16uDrop">
            <table class="table table-hover">
                {% if team16u %}
                <tbody>
                <tr>
                    {% for instance in team16u %}
                    <td>{{ instance.number}}</td>
                    <td>{{ instance }}</td>
                    <td>{{ instance.team }}</td>
                </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>

        <a href="#17uDrop" class="list-group-item list-group-item" data-toggle="collapse"><b>17u/11th Grade Team</b></h1></a>
        <div class="collapse" id="17uDrop">
            <table class="table table-hover">
                {% if team16u %}
                <tbody>
                <tr>
                    {% for instance in team17u %}
                    <td>{{ instance.number}}</td>
                    <td>{{ instance }}</td>
                    <td>{{ instance.team }}</td>
                </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>

    </div>



    {% endblock content %}
