<!doctype html>
<html>
    <head>
        <title>intelliHoops</title>
        <link href="styles/main.css" rel="stylesheet" type="text/css" />
    </head>
    
    <body>
            <header>
                <nav>
                    <center>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li>Page 2</li>
                            <li><a href="page3.html">Page 3</a></li>
                        </ul>
                    </center>
                </nav>
        
            </header>
        
        
            <div>
        
            </div>
        
        
            <footer>
                        2016 intelliHoops
            </footer>
        
    </body>
</html>